JavaVM *android_jvm;

JNIEXPORT jint JNI_OnLoad(JavaVM *vm, void *reserved) {
	JNIEnv *env;
	jclass k;
	jint r;
	//Assume it is c++
	r = vm->GetEnv ((void **) &env, JNI_VERSION_1_4);
	k = env->FindClass ("org/pjsip/pjsua/pjsuaJNI");

	android_jvm = vm;

	JNINativeMethod methods[] = {

	$defs

	};

	r = env->RegisterNatives (k, methods, (int) (sizeof(methods) / sizeof(methods[0])));
	return JNI_VERSION_1_4;
}
