<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.csipsimple"
	android:installLocation="auto"
	android:versionName="0.00-15" android:versionCode="15">
	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher_phone" android:debuggable="true">
		<activity android:label="@string/app_name" android:name=".ui.SipHome" android:launchMode="singleTask"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter android:priority="10">
                 <action android:name="com.csipsimple.phone.action.DIALER" />
                 <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			<intent-filter android:priority="10">
                 <action android:name="com.csipsimple.phone.action.CALLLOG" />
                 <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            
		</activity>
		
		<!-- Main service -->
		<service android:name=".service.SipService" android:exported="true">
			<intent-filter>
				<action android:name="com.csipsimple.service.SipService" />
				<action android:name="com.csipsimple.service.SipConfiguration" />
			</intent-filter>
		</service>
		<receiver android:name=".service.DeviceStateReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
				<action android:name="android.intent.action.ANY_DATA_STATE"></action>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
		
		<!--  Main ui -->
		<activity android:name=".ui.Dialer"></activity>
		<activity android:name=".ui.CallLogsList"></activity>
		<activity android:name=".ui.CallLog" android:theme="@android:style/Theme.NoTitleBar"></activity>
		
		<!-- First setup -->
		<activity android:name=".ui.WelcomeScreen" android:screenOrientation="nosensor"
			android:theme="@style/CupcakeDialog" android:launchMode="singleTask" android:label="@string/welcome_caption_text"></activity>
		<service android:name=".service.DownloadLibService"></service>
		
		<!-- Help -->
		<activity android:name=".ui.help.Help" android:theme="@style/CupcakeDialog" android:label="@string/help"></activity>
		<activity android:name=".ui.help.Faq" android:theme="@style/CupcakeDialog" android:label="@string/faq"></activity>
		
		<!-- Accounts -->
		<activity android:name=".ui.AccountsList" android:label="@string/accounts"></activity>
		<activity android:name=".ui.ReorderAccountsList" android:label="@string/accounts"></activity>
		<activity android:name=".ui.AccountFilters" android:label="@string/filters"></activity>
		<activity android:name=".ui.EditFilter" android:label="@string/filters" android:theme="@android:style/Theme.NoTitleBar"></activity>
		

		<activity android:name=".wizards.WizardChooser" android:theme="@android:style/Theme.Dialog"
			android:label="@string/choose_wizard"></activity>

		<activity android:name=".ui.BuddyList"></activity>

		<!-- Preferences -->
		<activity android:name=".ui.prefs.MainPrefs" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
		<activity android:name=".ui.prefs.PrefsNetwork" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
		<activity android:name=".ui.prefs.PrefsMedia" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
		<activity android:name=".ui.prefs.PrefsUI" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
		<activity android:name=".ui.prefs.PrefsFast" android:label="@string/prefs_fast" 
			android:theme="@style/CupcakeDialog" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="com.csipsimple.ui.prefs.PrefsFast" />
                 <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.prefs.Codecs" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
		

		<!-- Wizards -->
		<activity android:name=".wizards.BasePrefsWizard" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
 
		<!-- Call management -->
		<receiver android:name=".service.OutgoingCall">
			<intent-filter android:priority="-1">
				<action android:name="android.intent.action.NEW_OUTGOING_CALL"></action>
			</intent-filter>
		</receiver>
		<activity android:name=".ui.OutgoingCallChooser" android:theme="@style/CupcakeDialog"
			android:launchMode="singleInstance">
			
			<intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sip" />
                <data android:scheme="sips" />
            </intent-filter>
            
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sip" />
			 </intent-filter>
			  -->
		</activity>
		
		
		<activity android:name=".ui.InCallActivity" android:label="Incoming call" android:launchMode="singleTask"
			android:screenOrientation="portrait" android:excludeFromRecents="true"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter android:priority="10">
                 <action android:name="com.csipsimple.phone.action.INCALL" />
                 <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
        
        <activity android:name=".ui.InCallMediaControl" android:label="@string/prefs_media" 
			android:theme="@style/CupcakeDialog"></activity>
        
        <receiver android:name=".service.HeadsetButtonReceiver"></receiver>
		
	</application>
	<uses-sdk android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.READ_LOGS" />
	 <!-- Not taken into account? -->
	<uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY"></uses-permission>
	
</manifest> 